/**
 * Element colouring
 */

 html {
	background-color: rgb(252, 252, 252);
}

body, a {
	color: rgba(0, 0, 0, 0.75);
}

nav,
footer,
footer a {
	background-color: rgb(64, 64, 64);
	color: rgba(255, 255, 255, 0.85);
}

h1 {
	color: rgba(0, 0, 0, 0.6);
}

h2, h3, main h4 {
	color: rgb(48, 117, 172);
}
