@-ms-viewport {
	width: device-width;
}

html {
	height: 100vh;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header, main, footer, article {
	padding: 0.5em 0.75em;
}

main {
	flex-grow: 1;
}

main>section {
	width: 100%;

	display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
}

main>section>aside {
	display: flex;
}

main>section>aside>article {
	min-width: 15em
}

footer>section {
	display: flex;
}

footer>section>article {
	flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
	main>section>aside {
		display: block;
	}
}

@media only screen and (max-width: 800px) {
	main>section {
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 500px) {
	main>section>aside {
		flex-flow: row wrap;
	}

	footer>section {
		display: block;
	}	
}
