@import 'rally';
@import 'reply';

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%; 
    background: #6CC24A;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    background: #6CC24A;
  }
  
.xAxis {
    width: 25%;
}

.yAxis {
    width: 10em;
}

table.landscape {
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8em;
	
	table-layout: fixed;
}

table.landscape td {
    border: 1px solid $ReplyBlue;
    padding: 0.8em;
    font-weight: normal;
    text-align: center;

    max-height: 2.5em;
    white-space: nowrap;
    /*
    text-overflow: clip;
    */
}

table.landscape td.xAxis {
    padding: 1px 0;

    border-bottom: none;
}

table.landscape td.xAxis div {        
    padding: 0.25em 0em;
    border-bottom: 0.2em solid $RallyBlue;// rgba(white, 87%);
}
table.landscape td.xAxis:first-child div {        
   border-bottom: none;
}
            
table.landscape td.yAxis {
    margin: 0;
    padding: 0 1px;
    border-right: none;
}

table.landscape td.yAxis div {
    padding: 1em;
    border-right: 0.2em solid $RallyBlue;// rgba(white, 87%);
    text-align: right;
}

table.landscape .green {
    background: $RallyGreen;
}

table.landscape .amber {
    background: $RallyDarkYellow;
}

table.landscape .red {
    background: $RallyOrange;
}

table.landscape .blue {
    background: #B1C9E8;
}

/* NOTE: cell have a scale size: 10 is a normal height cell, smaller ones may need adjustment. */
table.landscape .width3,
table.landscape .width5 {
    padding: 0;
    font-size: 0.75em;
}

table.landscape .height9,
table.landscape .height8,
table.landscape .height7  {
    padding: 0em;
}
table.landscape .height6,
table.landscape .height5,
table.landscape .height4  {
    padding: 0em;
}

table.landscape .height3,
table.landscape .height2,
table.landscape .height1 {
    font-size: 0.5em;
    padding: 0em;
}

table.landscape td.yAxis:empty {
    background: none;
}

table.timeline {
    width: 100%;

    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8em;

    table-layout: fixed;

    text-align: center;
}

table.timeline td {
    padding: 0.25em 0;
}

table.timeline td:first-child{
    text-align: left;
}
table.timeline td:last-child{
    text-align: right;
}