body {
    font-family: Arial, Helvetica, sans-serif;
    color: #263238;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;

    text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
}

h1,
h2 {
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

p {
    margin: 0.25em 0 0.75em 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%; 
    background: #6CC24A;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    background: #6CC24A;
  }
  
.xAxis {
    width: 25%;
}

.yAxis {
    width: 10em;
}

table.landscape {
    width: 100%;

    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8em;
	color: rgba(255, 255, 255, 0.87);
	
	table-layout: fixed;
}

table.landscape td {
    border: 1px solid white;
    padding: 0.8em;
    font-weight: normal;
    text-align: center;

    max-height: 2.5em;
    /*
    white-space: nowrap;
    text-overflow: clip;
    */
}

table.landscape th.tableHeading {
    color: #D0D5DA;
}

table.landscape td.xAxis {
    background: #7FD3F7;
    padding: 0.25em 0.75em;
}

table.landscape td.yAxis {
    background: #00A7F0;
}

table.landscape .green {
    background: #6CC24A;
}

table.landscape .amber {
    background: #FFAD00;
}

table.landscape .red {
    background: #F93822;
}

table.landscape .blue {
    background: #B1C9E8;
}

/* NOTE: cell have a scale size: 10 is a normal height cell, smaller ones may need adjustment. */
table.landscape .width3,
table.landscape .width5 {
    font-size: 0.75em;
}

table.landscape .height9,
table.landscape .height8,
table.landscape .height7  {
    padding: 0em;
}
table.landscape .height6,
table.landscape .height5,
table.landscape .height4  {
    font-size: 0.75em;
    padding: 0em;
}

table.landscape .height3,
table.landscape .height2,
table.landscape .height1 {
    font-size: 0.5em;
    padding: 0em;
}

table.landscape td:empty {
    background: repeating-linear-gradient(135deg, white, white 4px, #D0D5DA 4px, #D0D5DA 6px);
}

table.landscape td.yAxis:empty {
    background: none;
}

table.timeline {
    width: 100%;

    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8em;

    table-layout: fixed;

    text-align: center;
}

table.timeline td {
    padding: 0.25em 0;
}

table.timeline td:first-child{
    text-align: left;
}
table.timeline td:last-child{
    text-align: right;
}